<!DOCTYPE html>
<html lang="ru-Ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href= "styles.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="func.js"></script>
</head>
<body>
<div class = "container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">О нас</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Регистрация</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Войти</a>
    </div>
    <div class = "search">
        <h4>Поиск</h4>
        <p>
            <b>Имя</b>
            <input  class = "input" type="text" size="40">
        </p>
        <p>
            <b>Федеральный округ</b>
            <select size="1" name="district" id="district" onchange="select()">
                <option disabled>Выберите округ</option>
                <option  selected value="cnt">Центральный</option>
                <option value="svz">Северо-Западный</option>
                <option value="sou">Южный</option>
                <option value="svk">Северо-Кавказский</option>
                <option value="prv">Приволжский</option>
                <option value="url">Уральский</option>
                <option value="sbr">Сибирский</option>
                <option value="dvs">Дальневосточный</option>
            </select>
            <p>
        <b>Регион</b>
            <select size="1" name="region" id="region">
            </select>
    </p>
        <div id="large_search" style="display:none">
            <b>Научная степень</b>
            <input  class = "input" type="text" size="40">
            <b>Специальность</b>
            <input  class = "input" type="text" size="40">
            <b>Год получения</b>
            <input  class = "input" type="text" size="40">
        </div>
        <a href="#large_search" onclick="showOrHideSearch('large_search')">Расширенный поиск</a>
        </p>
        <a class="btn btn-outline-primary" href="#">Поиск</a>
    </div>
    <div class = "map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5808f2adb93042877a0d3ecfc2f8d1b1e4611cfcaabef6167107f5918fe8b942&amp;width=100%&amp;height=446&amp;lang=ru_RU&amp;scroll=true">  </script>
    </div>
    <div class = "news">
        <h4>Новости</h4>
        <div class="table">
            <b>Дата</b><hr/>
            <b>Текст</b>
        </div>
        <div class="table">
            <b>Дата</b><hr/>
            <b>Текст</b>
        </div>
        <div class="table">
            <b>Дата</b><hr/>
            <b>Текст</b>
        </div>
    </div>
    <div class="forum">
        <b>Форум</b>
        <p> <b>ТЕМА ДНЯ!</b> </p>
        <div class="table" id="topics">
            <tr><td>Тема 1<hr class="hr"/><td><tr>
            <tr><td>Тема 2<hr/></td><tr>
            <tr><td>Тема 3<hr/></td><tr>
        </div>
    </div>
</div>
</body>
</html>
