<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "container">
        <header class  = "header">
            <h5 class = "text">Какой-то текст</h5>
            <li class = "registration">Регистрация</li>
            <li class = "enter">Войти</li>
        </header>
            <div class = "search">
                <b>Поиск</b>
                <p>
                    <b>Имя</b>
                    <input type="text" size="40">
                </p>
                 <p>
                    <b>Регион</b>
                    <input type="text" size="40">
                 </p>
                 <p>
                    <b>Город</b>
                    <input type="text" size="40">
                 </p>
            </div>
        <div class = "large_search">
            <b>Расширенный поиск</b>
            <p>
                <b>Научная степень</b>
                <input type="text" size="40">
            </p>
        </div>
        <div class = "map">Карта</div>
    </div>
</body>
</html>