<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "container">
        <header class  = "header">
            <h5 class = "text">Какой-то текст</h5>
            <li class = "registration">Регистрация</li>
            <li class = "enter">Войти</li>
        </header>
            <div class = "search">
                <b>Поиск</b>
                <p>
                    <b>Имя</b>
                    <input type="text" size="40">
                </p>
                 <p>
                    <b>Регион</b>
                    <input type="text" size="40">
                 </p>
                 <p>
                    <b>Город</b>
                    <input type="text" size="40">
                 </p>
            </div>
        <div class = "large_search">
            <b>Расширенный поиск</b>
            <p>
                <b>Научная степень</b>
                <input type="text" size="40">
            </p>
        </div>
        <div class = "map">Карта</div>
            <div class = "news">
                <h4>Новости</h4>
                    <div class="table">
                        <b>Дата</b><hr/>
                        <b>Текст</b>
                    </div>
                <div class="table">
                    <b>Дата</b><hr/>
                    <b>Текст</b>
                </div>
                <div class="table">
                    <b>Дата</b><hr/>
                    <b>Текст</b>
                </div>
                <div class="table">
                    <b>Дата</b><hr/>
                    <b>Текст</b>
                </div>
            </div>
        <div class="forum">
            <b>Форум</b>
            <p> <b>Тема дня</b> </p>
            <div class="table" id="topics">
                <tr><td>Тема 1<hr class="hr"/><td><tr>
                <tr><td>Тема 2<hr/></td><tr>
                <tr><td>Тема 3<hr/></td><tr>
            </div>
        </div>
    </div>
</body>
</html>