.container {
    width: 100%;
    height: 100%;
}
.search,.large_search, .news,.table, .forum{
    width:95%;
    border: 4px double  mediumaquamarine ;
    padding: 1%;
    margin-right:2%;
    margin-left: 2%;
    border-radius:15px;
}
.registration,.enter, .text, .table {
    display:inline-block;
}
.search, .large_search{
    width:25%;
    padding: 3%;
    margin-top: 2%;
}
.map {
    width:64%;
    margin-left:35%;
    margin-top: -32%;
    border: 6px double  mediumaquamarine ;
    border-radius:15px;
}
.news{
    width:52%;
    margin-left:35%;
    margin-top: 5%;
    padding:6%;
}
.table{
    width:15%;
}
.forum{
    margin-left:35%;
    margin-top:1%;
    width:62%;
}
#topics{
    margin-left:-1%;
    width:98%;
}
.hr{
    width:100%;
}
.input{
    display:block;
    width:95%;
    padding:1%;
}
